#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 400px;
  width: 550px;
  
}
.App{
  background-color: white;
  border-radius: 8px; 
}
.header_container{
  display: flex;
  width: 550px;
  height: 65px;
  background-color: blueviolet;
  justify-content: space-between;
  border: 0px blueviolet solid;
  border-radius: 8px; 
  border-bottom-left-radius:0px ;
  border-bottom-right-radius:0px ;
  
}
.header_left{
  display: inline-flex;
  width: auto;
  height: 26.22px;
  place-items: center;
  margin: auto 0px;
  padding: 15px;

}
.header_left > img{
  width: 31.31px;
  padding: 1px;
}
.header_left > p{
  width: auto;
  height: 24px;
  font-size: 1rem;
  font-weight: bold;
}
.header_right{
  width: 189px;
  height: 26.22px;
  font-size: 0.8rem;
  margin:auto 0px;
}
.Meme{
  width: 550px;
}
.meme_input{
  width: 520px;
  margin:auto ;
  margin-top: 30px;
  
}
.meme_input > input{
  width: 150px;
  margin: 8px;
  height: 35px;
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  color: black;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  transition: width 0.4s ease-in-out;
}
.meme_input > input:focus{
  width: 58%;
}  
.meme_input > input::placeholder{
  color: black;
  font-size: 1em;
}  
.meme_button > button{
  margin-top: 7px;
  margin-bottom: 4px;
  width: 476px;
  height: 40px;
  background-color: blueviolet;
  border-radius: 10px;
}
.meme_button > button:hover{
  background-color: rgb(84, 16, 148);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.meme_button > button:active{
  background-color: blueviolet;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(2px);
}
.meme_img{
  position: relative;
  display: inline-block;
}
.meme_img >img{
  margin: 40px 0px;
  width: 477px;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 0;
}
.meme--text-top,.meme--text-bottom{
  position: absolute;    
    height: 100%;
    text-align: center;    
    width: 100%;
    word-wrap:break-word
}
.meme--text-top::before{
  content: '';
  display: inline-block;
  height: 0%;
  vertical-align: middle;
}
.meme--text-bottom::before{
  content: '';
  display: inline-block;
  height: 70%;
  vertical-align: middle;
}
.meme--text-top > h2,.meme--text-bottom > h2{
  font-family: impact, sans-serif;
  
  font-size: 2.2em;
  text-transform: uppercase;
  color: rgba(96, 0, 78, 0.742);
  letter-spacing: 1px;
  z-index: 1;
}